:root {
  --dourado: rgb(212, 175, 55);
  --verde-menta-suave: rgb(176, 224, 198);
  --verde-escuro: rgb(44, 107, 47);
  --cor-fundo-pagina: #f0f4f8;
  --cor-texto: #222;
  --cor-input-border: #ccc;

  --cor-input-focus: var(--verde-escuro);
  --cor-botao: var(--verde-escuro);
  --cor-botao-hover: #2e7d32;

  /* footer */
  --footer-bg: #121518;
  --footer-text: #ffffff;

  /* cores aplicadas ao footer */
  --footer-link: var(--verde-menta-suave);
  --footer-link-hover: var(--dourado);
}

footer {
  background: var(--footer-bg);
  padding: 2.5rem 2rem;
  margin-top: 4rem;
  color: var(--footer-text);
  font-family: Arial, Helvetica, sans-serif;
}

.footer-wrapper {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

/* COLUNAS */
.footer-col {
  flex: 1;
  min-width: 220px;
}

.footer-col h3 {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--verde-menta-suave);
}

.footer-col p {
  margin: 0.4rem 0;
  font-size: 0.95rem;
}

/* LINKS */
.footer-col a {
  color: var(--footer-link);
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.2s ease;
}

.footer-col a:hover {
  color: var(--footer-link-hover);
  transform: translateX(4px);
}

/* RESPONSIVO */
@media (max-width: 760px) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .footer-col {
    min-width: 100%;
  }

  .footer-col a:hover {
    transform: none;
  }
}
